#--------------------------------------------
NET "clk" LOC = "P56"; 
NET "rst" LOC = "P22";
NET "rst" CLOCK_DEDICATED_ROUTE = true;
#--------------------------------------------
NET "WR"   LOC = "P35";
NET "RD"   LOC = "P34";
NET "CS"   LOC = "P33";
NET "INTR" LOC = "P38" | PULLUP | DRIVE = 2 ; 
#--------------------------------------------
