#-------------------------------------------

NET "clk" LOC = "P56"; 
NET "rst" LOC = "P22";

#-------------------------------------------
NET "Dout(0)" LOC="P104";
NET "Dout(1)" LOC="P105";
NET "Dout(2)" LOC="P101";
NET "Dout(3)" LOC="P102";
NET "Dout(4)" LOC="P99";
NET "Dout(5)" LOC="P100";
NET "Dout(6)" LOC="P97";
NET "Dout(7)" LOC="P98";
#-------------------------------------------